/* styles.css */

/* General Styles */
.welcome-text {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 20vh;
}

/* Applied to all <h1> elements in templates */
h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Applied to all <p> elements in templates */
p {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Consolidated All Button Styles */
.button-style{
    text-decoration: none;
    border: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hover effects for all buttons */
.button-style:hover{
    color: #DDDDDD;
    transform: scale(1.05);
}

/* Transition when leaving all buttons after hovering */
.button-style {
    transition: transform 0.3s;
}
    
body {
    position: relative;
}

/* Container CSS styles for buttons */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px; /* Margin to create space between buttons and footer */
}

.fixed-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; 
    z-index: 2; /* To ensure the navigation stays on top of other content */
}

/* Styles for the "Submit Answer" button */
.button-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styles for the "Next Question" button */
.button-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.question-number{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10vh;
    margin-top: 5vh
}

/* Styles for explanation content in explanation.html */
.explanation-text {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

/* Styles for correct and incorrect result messages */
p.correct-result {
    font-size: 22px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

p.incorrect-result {
    font-size: 22px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for options text */
.option-label {
    font-size: 22px;
    margin-left: 22vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for question text */
p.question-text {
    font-size: 22px;
    margin-left: 20vh;
    margin-top: 10vh;
    margin-right: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for text alignment */
.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

/* Syles for margin adjustments */
.margin-right{ 
    margin-right: 12vh;
}

/* Styles for footer */
.footer {
    background-color: #66a3ff;
    color: #fff; /* Text color for the footer */
    padding: 10px; /* Adjust padding as needed */
    position: fixed; /* Fix the footer at the bottom of the page */
    width: 100%; /* Full width of the page */
    bottom: 0; /* Align at the bottom */
}

/* Styles for header */
.header {
    background-color: #66a3ff;
    color: #fff; /* Text color for the header */
    padding: 10px; /* Adjust padding as needed */
    position: fixed; /* Fix the header at the top of the page */
    width: 100%; /* Full width of the page */
    top: 0; /* Align at the top */
}
