/* styles.css */

/* General Styles */
.welcome-text {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 20vh;
}

/* Applied to all <h1> elements in templates */
h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Applied to all <p> elements in templates */
p {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Consolidated All Button Styles */
.button-style{
    text-decoration: none;
    border: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hover effects for all buttons */
.button-style:hover{
    color: #DDDDDD;
    transform: scale(1.05);
    transition: 0.3s;
}

/* Container CSS styles for buttons */
.button-container {
    margin: 0;
    margin-top: 30vh;
}

/* Styles for navigation buttons */
nav {
    margin-top: 30vh;
}

.question-number{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10vh;
    margin-top: 5vh
}

/* Styles for explanation content in explanation.html */
.explanation-text {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10hv;
    margin-left: 20hv;
}

/* Styles for correct and incorrect result messages */
p.correct-result {
    font-size: 22px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

p.incorrect-result {
    font-size: 22px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for options text */
.option-label {
    font-size: 22px;
    margin-left: 22vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for question text */
p.question-text {
    font-size: 22px;
    margin-left: 20vh;
    margin-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles for text alignment */
.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

