<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the page -->
    <title>Explanation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <style>
        /* Refer to style.css */
    </style>

    {% if result == 'Correct' %}
    <p class="correct-result">{{ result }}</p>
    {% else %}
    <p class="incorrect-result">{{ result }}</p>
    {% endif %}
    <h1>Explanation</h1>
    <p class="explanation-text">{{ explanation|safe }}</p> <!--use 'safe' filter to ensure HTML tags are not escaped font size. This is part of Flask Jinja-->

    <!-- "Next Question" container -->
    <nav class="next-question button-container right-text">
        <a href="{{ url_for('display_question') }}" class="next-question">Next Question</a> 
    </nav>
</body>
</html>
