<!-- explanation.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title of the page -->
    <title>Explanation</title>
    
    <!-- Link to styles.css file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Colored square container -->
    <div class="colored-square {% if result == 'Correct' %}correct-square{% else %}incorrect-square{% endif %}"></div>

    <!-- Header section -->
    <header class="header">
    </header>

    <!-- Conditional rendering based on 'result' -->
    {% if result == 'Correct' %}
        <!-- Displaying correct result -->
        <p class="correct-result center-text">{{ result }}</p>
    {% else %}
        <!-- Displaying incorrect result -->
        <p class="incorrect-result center-text">{{ result }}</p>
    {% endif %}

    <!-- Heading for the explanation -->
    <h1 class="explanation-title"> Explanation</h1>
    
    <!-- Display the explanation text with safe filter to allow HTML tags -->
    <p class="explanation-text">{{ explanation|safe }}</p>

    <!-- Navigation buttons container-->
    <nav class="button-container button-container-right fixed-nav">
        <!-- "Next Question" link -->
        <a href="{{ url_for('display_question')}}" class="button-style margin-right">Next Question</a>
    </nav>
    <!-- Footer section -->
    <footer class="footer">
    </footer>
</body>
</html>
