<!-- start.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title of the page -->
    <title>Start</title>

    <!-- Link to styles.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header section -->
    <header class="header">
    </header>

    <div class="welcome-text center-text">
        <h1>Welcome to the Exam</h1>
        <p class="center-text">
            Test your knowledge and prepare for success with our certification preparation mock exam 
            <br><br> Click the button below to start
        </p>
    </div>

    <!-- Navigation buttons container -->
    <nav class="button-container button-container-center fixed-nav">
        <form action="/start" method="POST">
            <input class="button-style" type="submit" value="Start Exam">
        </form>
    </nav>
    
    <!-- Footer section -->
    <footer class="footer">
    </footer>
</body>
</html>
